.vscode
.nextflow/
results/*
run_log/*
!results/all_samples
results/all_samples/*
!results/all_samples/*.pdf
data/*
!data/raw
data/raw/*
!/data/raw/*.csv
all_samples.e*
all_samples.o*
processed/
work/
.nextflow.log*
pipeline_info/
genome
known_variants.vcf.gz
utils/archive
scripts/
.Rhistory
